/* Accelerator.module.css */

.accelerator {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  background-image: url("/assets/Accelerator.png");

  background-position: bottom;
  background-repeat: no-repeat;

  background-size: 80%;
  min-height: 800px;
  max-height: 1071px;
  height: 1071px;

  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: 400;
  /* margin-bottom: 40px; */
  z-index: 2;
}

.highlight {
  color: var(--kagi-orange);
  font-weight: 700;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  text-align: left;
}

.rectangleParent1,
.rectangleParent2 {
  width: 100%;
  background-color: var(--kagi-white);
  border: 2px solid var(--kagi-orange);
  border-radius: 12px;
  padding: 30px 40px;
  margin-bottom: 16px;
  box-sizing: border-box;
  /* display: flex; */
  flex-direction: column;
  position: relative;
  top: 6%;
  left: 42%;
  max-width: 754px;
  transition: all 0.3s ease;
  font-size: 18px;
  z-index: 10;
  display: none;
}

.rectangleParent1:hover,
.rectangleParent2:hover {
  background-color: var(--kagi-orange);
  border-color: var(--kagi-orange);
  color: var(--kagi-white);
  cursor: pointer;
  transform: scale(1.05);
}

.forProjects,
.forInvestors {
  color: var(--kagi-orange);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.rectangleParent1:hover .forProjects,
.rectangleParent1:hover .description,
.rectangleParent2:hover .forInvestors,
.rectangleParent2:hover .description {
  color: var(--kagi-white);
}

.description {
  font-size: 16px;
  color: var(--kagi-green);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .accelerator {
    max-height: 601px;
    min-height: 300px;
    padding: 0 5%;
    background-image: url("/assets/accBG768w.png");
    background-size: 95%;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 62px;
  }

  .rectangleParent1,
  .rectangleParent2 {
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    top: 10%;
    left: 25%;
    max-width: 245px;
  }

  .forProjects,
  .forInvestors {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .description {
    font-size: 10px;
  }
}


@media (min-width:768px) and (max-width: 1280px){
  
  .accelerator {
    background-size: 80%;
    height: 80vh;
    min-height: 600px;

  }
}

/* @media (min-width: 1280px){
  
  .accelerator {
    background-size: 80%;
    height: 800px;

  }
} */

@media (min-width:1280px) and (max-width: 1440px){
  
  .accelerator {
    background-size: 80%;
    height: 90vh;
    min-height: 600px;

  }
}

@media (min-width: 1440px){
  
  .accelerator {
    background-size: 80%;
    height: 100vh;

  }
}

/*

@media (min-width: 1518px) and (max-height: 3747px){
  
  .accelerator {
    background-size: 80%;
    min-height: 95vh;
    gap: 4vw;
    max-width: 1440px;

  }
}

@media (min-width: 1559px) and (max-height: 975px){
 
  .accelerator {
    background-size: 80%;
    min-height: 90vh;
    gap: 4vw;
    max-width: 1440px;

  }
} 

@media (min-width: 1728px) and (max-height: 1117px){

  .accelerator {
    background-size: 80%;
    min-height: 75vh;
    gap: 4vw;
    max-width: 1440px;

  }
}

@media (min-width: 1900) and (max-height: 900px){
  
  .accelerator {
    background-size: 80%;
    min-height: 80vh;
    gap: 4vw;
    max-width: 1440px;

  }
}
 */
